* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.mic-icon {
  width: 0.9rem;
  height: 1.3rem;
  /* margin-left: 1rem; */
  /* padding-top:1.5rem; */
}
.search-icon {
  display: inline;
  font-size: 1.2rem;
  margin-left: 1.3rem;

  color: rgb(106, 106, 248);
  /* padding-bottom: 0.5rem; */
}
.search-i {
  /* margin-left: 2rem; */
}
.inner-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.6rem 1.5rem;
}

.search-bar {
  width: 40rem;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* padding: 1rem 1rem; */
  border-radius: 30px;
  margin-left: -35rem;
}
.search-bar:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  /* -15px -2px 2px rgba(158, 153, 153, 0.1); */
}
.text-area {
  width: 100%;
  border: transparent;
  font-size: 1rem;
  outline: none;
}

.text {
  flex: 0 0 calc(85% - 1rem);

  /* width: 80%; */
}
.icons {
  flex: 0 0 calc(13% - 0.5rem);
  /* border: 2px solid red; */
  /* cursor: pointer; */
}

.user-icon {
  cursor: pointer;
}
.logo {
  width: 6rem;
  height: 2rem;
}

.google-logo {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.header {
  padding: 1rem 2rem;
  width: 100%;
  height: 5rem;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: -1rem; */
}
.user-info {
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.7);
}
.user-info .user-icon {
  margin-left: 1.6rem;
}
.header-main {
  width: 100%;
  height: 7.6rem;
  position: relative;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
}
.search-options {
  position: absolute;
  bottom: 0.6rem;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 400;
  left: 10rem;
  color: rgba(0, 0, 0, 0.7);
}
.option {
  margin-left: 1rem;
  padding-bottom: 0.6rem;
  cursor: pointer;
}

.option:hover {
  color: rgb(46, 46, 226);
  border-bottom: 3px solid rgb(46, 46, 226);
  font-weight: 500;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.setting {
  margin-left: 5rem;
}

.results {
  width: 35rem;
  margin-left: 11rem;
}
.result {
  margin: 2rem 0;
}

.time {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
  margin-top: 1rem;
}

.website {
  font-size: 0.9rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
.result h4 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 232);
}

.result h4:hover {
  text-decoration: underline;
  cursor: pointer;
}
.down {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.add-searches {
  margin-left: 11rem;
  width: 35rem;
  /* border: 3px solid black; */
}
.add-results {
  font-size: 0.9rem;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  color: blue;
  flex-wrap: wrap;
}
.add-results div {
  display: flex;
  justify-content: space-between;
  flex: 0 0 calc(50% - 2rem);
}
.add-searches h3 {
  margin-bottom: 2rem;
}
.line {
  margin: -0.3rem 0;
}
.footer {
  width: 100%;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 3rem;
}
.terms {
  margin-left: 11rem;
  position: absolute;
  bottom: 0.5rem;
}
.terms span {
  margin-right: 1rem;
  font-size: 0.9rem;
}
